<div class="form-page">
  <div class="table-card">
    <div class="page-header">
      <button pButton icon="pi pi-arrow-left" label="Back" (click)="goBack()" class="back-btn"></button>
      <h2>Claim Registration</h2>
      <div class="header-actions">
        <button *ngIf="isReadOnly" pButton label="Next" icon="pi pi-arrow-right" iconPos="right" (click)="onNextClick()"
          class="primary-btn"></button>
      </div>
    </div>

    <div class="info-chips">
  <div class="chip">
    <span class="chip-label">Product</span>
    <span class="chip-value">{{ formData.CLM_PROD_CODE || 'null' }}</span>
  </div>
  <div class="chip">
    <span class="chip-label">Claim  No</span>
    <span class="chip-value">{{ formData.CLM_NO || 'null' }}</span>
  </div>
  
</div>
    <div *ngIf="loading()" class="state-msg">Loading form...</div>

   <form *ngIf="!loading()" class="dynamic-form-grid">
  <ng-container *ngFor="let field of fields()">
    <div *ngIf="!isHeaderField(field.COLUMN_NAME)" class="form-field"
      [class.checkbox-field]="getInputType(field.SOURCE_DESIGN_TYPE, field.DATA_TYPE) === 'checkbox'">

      <label *ngIf="getInputType(field.SOURCE_DESIGN_TYPE, field.DATA_TYPE) !== 'checkbox'">
        {{ field.FIELD_PROMPT }} <span class="required" *ngIf="field.MANDATORY === 1">*</span>
      </label>

      <ng-container [ngSwitch]="getInputType(field.SOURCE_DESIGN_TYPE, field.DATA_TYPE)">

        <!-- Checkbox -->
        <label *ngSwitchCase="'checkbox'" class="checkbox-label">
          <input type="checkbox" [(ngModel)]="formData[field.COLUMN_NAME]" [name]="field.COLUMN_NAME"
            [disabled]="!canEditField(field)" [ngModelOptions]="{standalone: true}" />
          <span>{{ field.FIELD_PROMPT }}</span>
        </label>

        <!-- Date -->
        <p-datepicker *ngSwitchCase="'date'" [(ngModel)]="formData[field.COLUMN_NAME]" [name]="field.COLUMN_NAME"
          dateFormat="dd/mm/yy" [showTime]="true" hourFormat="24" [showIcon]="true" [readonlyInput]="true"
          [disabled]="!canEditField(field)" [ngModelOptions]="{ standalone: true }">
        </p-datepicker>

        <!-- Number -->
        <input *ngSwitchCase="'number'" pInputText type="number" [attr.placeholder]="field.TOOL_TIP"
          [(ngModel)]="formData[field.COLUMN_NAME]" [name]="field.COLUMN_NAME"
          [readonly]="!canEditField(field)" [ngModelOptions]="{standalone: true}" />

        <!-- Text / LOV dropdown -->
        <ng-container *ngSwitchDefault>
          <p-select *ngIf="isLovField(field.COLUMN_NAME); else textInput"
            [options]="getDropdownOptions(field.COLUMN_NAME)" [(ngModel)]="formData[field.COLUMN_NAME]"
            optionLabel="label" optionValue="value" [name]="field.COLUMN_NAME"
            [disabled]="!canEditField(field)" [ngModelOptions]="{standalone: true}"
            placeholder="-- Select --">
          </p-select>
          <ng-template #textInput>
            <input pInputText type="text" [attr.placeholder]="field.TOOL_TIP"
              [(ngModel)]="formData[field.COLUMN_NAME]" [name]="field.COLUMN_NAME"
              [readonly]="!canEditField(field) "[ngModelOptions]="{standalone: true}"
              (blur)="field.COLUMN_NAME === 'CLM_POL_NO' && onPolicyNoBlur()" />
          </ng-template>
        </ng-container>

      </ng-container>
    </div>
  </ng-container>
</form>

    <div *ngIf="!loading() && fields().length === 0" class="state-msg">
      Claim Registration is not available for this product.
    </div>

    <div *ngIf="!loading() && fields().length > 0 && !isReadOnly" class="submit-btn-wrap">
      <button pButton type="button" label="Submit" class="submit-btn" (click)="onSubmit()"></button>
    </div>
  </div>
</div>