<div class="form-page">
  <div class="page-header">
    <button pButton icon="pi pi-arrow-left" label="Back" (click)="goBack()" class="back-btn"></button>
    <h2>Risk Details</h2>
    <div class="header-actions">
      <button pButton label="+ Add Row" (click)="addRow()" class="add-row-btn"></button>
    </div>
  </div>

  <div class="info-chips">
    <div class="chip"><span class="chip-label">Product</span><span class="chip-value">2001</span></div>
    <div class="chip"><span class="chip-label">Policy No</span><span class="chip-value">P-MBA-2023-20-2001-000021</span>
    </div>
    <div class="chip highlight"><span class="chip-label">Type</span><span class="chip-value">Direct</span></div>
  </div>

  <div class="table-card">
    <div class="search-box">
      <input type="text" placeholder="Search details..." />
    </div>

    <div *ngIf="loading()" class="state-msg">Loading table...</div>


    <table *ngIf="!loading()" class="risk-grid">
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let col of tableColumns()">{{ col.FIELD_PROMPT }}</th>
          <th class="actions-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of gridRows(); let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngFor="let col of tableColumns()">
            <ng-container [ngSwitch]="getInputType(col.SOURCE_DESIGN_TYPE)">
              <input *ngSwitchCase="'checkbox'" type="checkbox" [(ngModel)]="row[col.COLUMN_NAME]"
                [name]="col.COLUMN_NAME + i" [disabled]="!isFieldEditable(col)" />
              <input *ngSwitchCase="'date'" type="date" [(ngModel)]="row[col.COLUMN_NAME]" [name]="col.COLUMN_NAME + i"
                [disabled]="!isFieldEditable(col)" />
              <input *ngSwitchCase="'number'" type="number" [(ngModel)]="row[col.COLUMN_NAME]"
                [name]="col.COLUMN_NAME + i" [disabled]="!isFieldEditable(col)" />
              <input *ngSwitchDefault type="text" [(ngModel)]="row[col.COLUMN_NAME]" [name]="col.COLUMN_NAME + i"
                [disabled]="!isFieldEditable(col)" />
            </ng-container>
          </td>

          <td class="actions-col">
            <button type="button" pButton icon="pi pi-save" class="p-button-text p-button-rounded"
              (click)="saveRow(i)"></button>
            <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-text p-button-rounded"
              (click)="openRowMenu($event, rowMenu, i)"></button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ADD once, outside the table loop -->
    <p-menu #rowMenu [popup]="true" [model]="rowMenuItems" appendTo="body"></p-menu>

    <div class="table-footer">
      <span>Showing {{ gridRows().length }} record(s)</span>

    </div>
  </div>
</div>